<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Screening System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>AI Resume Screening</h1>

<div class="container">

    <input id="experience" placeholder="Years of Experience">
    <input id="projects" placeholder="Project Count">
    <input id="skills" placeholder="Skills Score (1-10)">
    <input id="certifications" placeholder="Certifications">
    <input id="education" placeholder="Education Level">

    <button onclick="analyzeResume()">Predict</button>

    <h2 id="result"></h2>

</div>

<script src="/static/script.js"></script>

</body>
</html>
